
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #fafafa;
    background-repeat: no-repeat;
    text-align: left;
    height: 100%;
    width: 100%;
    background: #191919;
    margin: 0px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat/Montserrat-Light.otf')
    format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url("montserrat/Montserrat-Regular.otf")
    format('opentype');
    font-weight: bold;
} 

.navbar {
    background-color: #191919;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 90px;
}

.navbar a:first-child {
    float: left;
    font-size: 30px;
    margin-top: 5px;
    font-weight: bold;

}


a i { /* hand point down icon */
    font-size: 30px;
}

.navbar a {
    margin-top: 10px;
    float: right;
    display: block;
    color: #fafafa;
    text-align: center;
    padding: 22px 40px;
    text-decoration: none;
}

.navbar a:hover {
    color: #66de37;
}

.frontparallax {
    /* The image used */
    background-image: url("parallax.jpg");
    /* Set a specific height */
    min-height: 95vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 60px;
}

.startscroll {
    position: absolute;
    bottom: 25px;
    right: 35px;
    color: #fafafa;
    margin: 0px;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 250px;
    width: 300px;
}

.logo:hover {
    opacity: 0;
    transition: 2s ease;
}

.floatingtext {
    opacity: 1;
    color: #fafafa;
    font-family: Courier New, Courier, monospace;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.container {
    padding: 0px 10vw 0px 10vw;
    display: flex;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.container .content {
    flex-wrap: wrap;
    box-sizing: border-box;
    white-space: normal;
    display: block; /* Make elements inside the container behave like table cells so that each column is same height */
    position: relative;

    width: auto;
    height: auto;
    min-width: 500px;
    width: 50%;
    min-height: 250px;
}

.container .contenttext {
    width: 50%;
    padding: 3%;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-width: 500px;
    white-space: normal;
    display: table-cell; /* Make elements inside the container behave like table cells so that each column is same height */
    position: relative;
    min-height: 250px;
}


@media (max-width: 800px) {
    .mobilearrow{
        color:antiquewhite;
    }
}




a {
    text-decoration: none;
    color: #fafafa;
}

a:hover {
    color: #66de37;
}

img {
   width: 100%;
   height: 100%;
} 

.picofme {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    min-width: 400px;
    min-height: 400px;
}

.details {
    margin: auto;
    width: 95%;
}

.titlecard {
    color: White;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7dce94;
    position: absolute;
    display: inline-block;
    text-align: center;
    line-height: 50vh;
    font-size: 25px;
}

.titlecard:hover {
    opacity: 0;
    transition: .5s ease;
}

.titlecard {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}
#projects {
    padding-top: 75px;
    margin-top: -75px;
    width: 600px;
}
.projectheader{
    padding-top:70px;
    padding-bottom:10px;
}
#aboutmesection {
    padding: 20px;
    padding-top: 90px;
    margin-top: -90px;
    width: 600px;
}



footer {
    clear: both;
    border-top: 1px solid #d5d5d5;
    font-size: 20px;
    color: black;
    text-decoration: none;
    color: #fafafa;
    margin: 50px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

footer ul li a {
    padding: 5px 15px 15px 5px;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: #fafafa;
}

.contactlinks a:hover {
    color: #66de37;
}
.contactlinks h3{
    text-align: center;
}

.gif {
    width: 100%;
    height: 100%;
    margin: auto;
}

/*social media Icons in footer*/
.center {
    display: flex;
    width: 100%;
    height: 100px;
}

#social-test {
    text-align: center;
    font-size: 30px;
    margin: auto;
}

h2 {
    color: #fff;
    font-weight: 100;
    font-weight: bold;
}       

.social{
    display: flex;
}
li {
    color: white;
    width: 50px;
    cursor: pointer;
    transition: ease .3s;
}
social-test :hover {
    color: #66de37;
}

.social:hover > li {
    opacity: 0.5;
}

.social:hover > li:hover {
    opacity: 1;
}
/*RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME*/
/*RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME*/

.resumecontainer {
    padding: 75px 20vw 0px 20vw;
    display: grid;
}
.resumesection {
    display: grid;
    text-align: left;
    max-width: 900px;
    min-width: 300px;
    padding: 5px 10px 5px 10px;
}

.resumecontainer h1{
    font-size: 30px;
}
.resumecontainer h2 {
    font-size: 20px;
}
.resumecontainer h3, h4 {
    font-size: 15px;
}

.resumecontainer h1, h2, h3 , h4{
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 2px;
    text-align: left;
}

/*Making the dates line up and go to the left of position title*/
.resumecontainer .locationdate{
    display: flex;
    justify-content: space-between;
}

/*Make the list of skills cooler*/
 .listingskills {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;

}
.listingskills p {
    border-color: antiquewhite;
    padding: 6px;
    margin: 10px;
    border-style: dotted;
    border-color: white;
    border-radius: 5px;
    
}
.resumesection .description {
    float: left;
}

.resumesection .description li {
    display: block;
    width: 100%;

}

.resumesection .location {
    font-style: italic;
    color: #c8c8c8;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@import "bourbon";

// variables - colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

// variables - fonts

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;

// mixins - rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// mixins - border radius

@mixin border-radius($radius:.25em) {
    border-radius: $radius;
}

// layout - breakpoints

$S: 320px;
$M: 768px;
$L: 1170px;

// layout - media queries

@mixin MQ($canvas) {
    @if $canvas == S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }

    @else if $canvas == M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }

    @else if $canvas == L {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    @include box-sizing(border-box);
}

body {
    font:

{
    size: 100%;
    family: $primary-font;
}

color: $main-text;
background-color: $background;
}

a {
    color: $link;
    text-decoration: none;
    font-family: $secondary-font;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-family: $secondary-font;
    font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: $L;
    // breakpoints inside partials > _layout.scss margin: 0 auto;
    &::after

{ /* clearfix */
    content: '';
    display: table;
    clear: both;
}

}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: $color-1;
    h1

{
    color: $color-3;
    @include font-size(18px);
}

@include MQ(L) {
    height: 300px;
    line-height: 300px;

    h1 {
        @include font-size(24px);
    }
}

}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin:

{
    top: 2em;
    bottom: 2em;
}

&::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: darken($background, 5%);
}

@include MQ(L) {
    margin: {
        top: 3em;
        bottom: 3em;
    }

    &::before {
        left: 50%;
        margin-left: -2px;
    }
}

}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
    @include clearfix;
    &:first-child

{
    margin-top: 0;
}

&:last-child {
    margin-bottom: 0;
}

@include MQ(L) {
    margin: 4em 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px $color-3, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05);
    img

{
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

&.cd-picture {
    background: $color-4;
}

&.cd-movie {
    background: $color-2;
}

&.cd-location {
    background: $color-5;
}

@include MQ(L) {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    .cssanimations &.is-hidden {
        visibility: hidden;
    }

    .cssanimations &.bounce-in {
        visibility: visible;
        @include animation(cd-bounce-1 .6s);
    }
}

}

@include keyframes(cd-bounce-1) {
    0% {
        opacity: 0;
        @include transform(scale(.5));
    }

    60% {
        opacity: 1;
        @include transform(scale(1.2));
    }

    100% {
        @include transform(scale(1));
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: $color-3;
    @include border-radius;
    padding: 1em;
    box-shadow: 0 3px 0 darken($background, 5%);
    @include clearfix;
    h2

{
    color: $color-1;
}

p, .cd-read-more, .cd-date {
    @include font-size(13px);
}

.cd-read-more, .cd-date {
    display: inline-block;
}

p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-read-more {
    float: right;
    padding: .8em 1em;
    background: $link;
    color: $color-3;
    @include border-radius;
    .no-touch &:hover

{
    background-color: lighten($link, 5%);
}

}

.cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

&::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid $color-3;
}

@include MQ(M) {
    h2 {
        @include font-size(20px);
    }

    p {
        @include font-size(16px);
    }

    .cd-read-more, .cd-date {
        @include font-size(14px);
    }
}

@include MQ(L) {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    &::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: $color-3;
    }

    .cd-read-more {
        float: left;
    }

    .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        @include font-size(16px);
    }

    .cd-timeline-block:nth-child(even) & {
        float: right;
        &::before

{
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: $color-3;
}

.cd-read-more {
    float: right;
}

.cd-date {
    left: auto;
    right: 122%;
    text-align: right;
}

}

.cssanimations &.is-hidden {
    visibility: hidden;
}

.cssanimations &.bounce-in {
    visibility: visible;
    @include animation(cd-bounce-2 .6s);
}

}
}

@include MQ(L) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        @include animation(cd-bounce-2-inverse .6s);
    }
}

@include keyframes(cd-bounce-2) {
    0% {
        opacity: 0;
        @include transform(translateX(-100px));
    }

    60% {
        opacity: 1;
        @include transform(translateX(20px));
    }

    100% {
        @include transform(translateX(0));
    }
}

@include keyframes(cd-bounce-2-inverse) {
    0% {
        opacity: 0;
        @include transform(translateX(100px));
    }

    60% {
        opacity: 1;
        @include transform(translateX(-20px));
    }

    100% {
        @include transform(translateX(0));
    }
}



