
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #fafafa;
    background-repeat: no-repeat;
    text-align: left;
    height: 100%;
    width: 100%;
    background: #191919;
    margin: 0px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat/Montserrat-Light.otf')
    format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url("montserrat/Montserrat-Regular.otf")
    format('opentype');
    font-weight: bold;
} 

.navbar {
    background-color: #191919;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 90px;
}

.navbar a:first-child {
    float: left;
    font-size: 30px;
    margin-top: 5px;
    font-weight: bold;

}
a i {
    font-size: 23px;
}
.navbar a {
    margin-top: 10px;
    float: right;
    display: block;
    color: #fafafa;
    text-align: center;
    padding: 22px 40px;
    text-decoration: none;
}

.navbar a:hover {
    color: #66de37;
}

.frontparallax {
    /* The image used */
    background-image: url("parallax.jpg");
    /* Set a specific height */
    min-height: 95vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 60px;
}

.startscroll {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: #fafafa;
    margin: 0px;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 250px;
    width: 300px;
}

.logo:hover {
    opacity: 0;
    transition: 2s ease;
}

.floatingtext {
    opacity: 1;
    color: #fafafa;
    font-family: Courier New, Courier, monospace;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.container {
    padding: 90px 10vw 0px 10vw;
    display: flex;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;


}

.container .content {
    background: #191919;
    flex-wrap: wrap;
    box-sizing: border-box;
    white-space: normal;
    display: block; /* Make elements inside the container behave like table cells so that each column is same height */
    position: relative;

    width: auto;
    height: auto;
    min-width: 500px;
    width: 50%;
    min-height: 250px;
}

.container .contenttext {
    background: #191919;
    width: 50%;
    padding: 3%;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-width: 500px;
    white-space: normal;
    display: table-cell; /* Make elements inside the container behave like table cells so that each column is same height */
    position: relative;
    min-height: 250px;
}


@media (max-width: 800px) {
    .mobilearrow{
        color:antiquewhite;
    }
}




a {
    text-decoration: none;
    color: #fafafa;
}

a:hover {
    color: #66de37;
}

img {
   width: 100%;
   height: 100%;
} 

.picofme {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    min-width: 400px;
    min-height: 400px;
}

.details {
    margin: auto;
    width: 95%;
}

.titlecard {
    color: White;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7dce94;
    position: absolute;
    display: inline-block;
    text-align: center;
    line-height: 50vh;
    font-size: 25px;
}

.titlecard:hover {
    opacity: 0;
    transition: .5s ease;
}

.titlecard {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}
#projects {
    padding: 20px;
    padding-top: 75px;
    margin-top: -75px;
    width: 600px;

}

footer {
    clear: both;
    border-top: 1px solid #d5d5d5;
    font-size: 20px;
    color: black;
    text-decoration: none;
    color: #fafafa;
    margin: 50px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

footer ul li a {
    padding: 5px 15px 15px 5px;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: #fafafa;
}

.contactlinks a:hover {
    color: #66de37;
}

.gif {
    width: 100%;
    height: 100%;
    margin: auto;
}

/*social media Icons in footer*/
.center {
    display: flex;
    width: 100%;
    height: 100px;
}

#social-test {
    text-align: center;
    font-size: 30px;
    margin: auto;
}

h2 {
    color: #fff;
    font-weight: 100;
    font-weight: bold;
}       

.social{
    display: flex;
}
li {
    color: white;
    width: 50px;
    cursor: pointer;
    transition: ease .3s;
}
social-test :hover {
    color: #66de37;
}

.social:hover > li {
    opacity: 0.5;
}

.social:hover > li:hover {
    opacity: 1;
}