<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
			<nav class ="navbar">
	        		<a href="/">Home</a>
		        	<a href="/about">About</a>
	        		<a href="/cv">CV</a>
	        		<a href="/blog">Blog</a>
			</nav>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
			<footer>
	    		<ul>
				<p> Contact </p>
	        		<li><a href="mailto:benjaminhuang13@stonybrook.edu">benjamin.huang@stonybrook.edu</a></li>
	        		<li><a href="https://www.linkedin.com/in/benjaminhuang3/" target="_blank">linkedin.com</a></li>
				
				</ul>
			</footer>
	</html>
